/*
All colors in HSL, but just the numbers comma separated

This allows you to do stuff like...
button { background-color: hsla(var(--colorPrimary), .8)
*/

:root {
  /* colors */
  --green: 169, 47%, 15%;
  --mintGreen: 163, 24%, 89%;
  --yellow: 48, 81%, 55%;
  --lightgray: 45, 15%, 95%;
  --darkgray: 208, 18%, 28%;
  --white: 0, 0%, 100%;
  --red: 359, 65%, 49%;
  --orange: 18, 87%, 57%;
  --purple: 251, 38%, 46%;
  --lightBlue: 215, 67%, 85%;
  --black: 0, 0%, 0%;

  /* fonts */
  --fontFamilySerif: "Alice", serif;
  --fontFamilySansSerif: "Source Sans Pro", sans-serif;
  --fontFamilyDisplay: "Calistoga", cursive;

  /* theme colors ~DON'T USE THESE DIRECTLY~ */
  --fontColor: var(--black);
  --colorPrimary: var(--green);
  --colorSecondary: var(--orange);
  --colorTertiary: var(--purple);

  /* USE THESE DIRECTLY */
  --btnPrimary: hsl(var(--green));
  --btnPrimaryHover: hsla(var(--green), 0.8);
  --btnPrimayFont: hsl(var(--white));
  --btnSecondary: hsl(var(--lightgray));
  --btnSecondaryHover: hsla(var(--lightgray), 0.8);
  --btnSecondaryFont: hsl(var(--green));

  /* components */
  --bgColor: hsl(var(--lightgray));
  --bgCardColor: hsl(var(--white));
  --navbar: hsl(var(--colorPrimary));
  --navbarSelected: hsl(var(--colorSecondary));
  --navbarSelectedFont: hsl(var(--white));
  --navHeaderColor: hsla(var(--white), 0.3);

  --headingColor: hsl(var(--green));

  --textHighlightPrimary: hsla(var(--colorPrimary), 0.5);
  --textHighlightSecondary: hsla(var(--colorSecondary), 0.5);
  --textHighlightTertiary: hsla(var(--colorTertiary), 0.3);

  --inputTextHighlight: hsla(var(--colorSecondary), 0.7);
  --selectedChipColor: hsl(var(--purple));
  --selectedChipFontColor: hsl(var(--white));

  --calendarDisabledCellFontColor: hsla(var(--fontColor), 0.2);
  --calendarRangeEnd: hsl(var(--colorSecondary));
  --calendarRangeMiddle: hsla(var(--colorSecondary), 0.3);

  --shadowColor: hsla(var(--darkgray), 0.5);
}
