@import url("https://fonts.googleapis.com/css2?family=Alice&family=Righteous&family=Chonburi&family=Calistoga&family=Source+Sans+Pro&display=swap");

:root {
  font-family: var(--fontFamilySansSerif);
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#svelte {
  height: 100%;
}

fieldset {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontFamilyDisplay);
  color: var(--headingColor);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}
